/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 19, 2021, 3:59:07 PM
    Author     : Thammana Srinivas
*/

body {
    background-color: #F3913A; 
    color: #000000;
    font-family: 'JetBrains Mono', monospace;
}

table, th, td {
  border: 1px solid black;
  font-family: 'JetBrains Mono', monospace;
}

th, td {
  padding: 6px;
}

button, input {
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
}